<% content_for :title do %><%= "#{ENV[ 'TITLE_PREFIX' ]} Libra ETD Dashboard" %><% end %>
<div class="gridster">
   <center><div style="font-size: 22px"><a href="/services" class="pull-left">&nbsp;previous</a><%= "#{ENV[ 'TITLE_PREFIX' ]} Libra ETD Dashboard" %><a href="/libraoc" class="pull-right">next&nbsp;</a></div></center>

  <ul>

     <% services = [ 'LIBRA_ETD',
                     'ADMIN',
                     'DEPOSITREG'] %>
     <% services.each do |key| %>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
           <div data-id="<%= "#{CONFIG[key]['time']}" %>" data-view="Meter" data-title="<%= "#{CONFIG[key]['title']}" %>" data-min="0" data-max="2000" data-moreinfo="Response time in mS"></div>
        </li>

     <% end %>

     <% services = [ 'SOLR', 'FEDORA' ] %>
     <% services.each do |key| %>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
           <div data-id="<%= "#{CONFIG[key]['id']}" %>" data-view="Statusbox" data-title="<%= "#{CONFIG[key]['title']}" %>" data-text="Down"></div>
        </li>

     <% end %>

    <% 1.times do || %>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
          <div data-id="blank" data-view="Comments" data-title="Blank" data-text=""></div>
        </li>
    <% end %>

   </ul>
</div>