<% content_for :title do %><%= "#{CONFIG['DASHBOARD_TITLE']}" %><% end %>
<div class="gridster">
   <center><div style="font-size: 22px"><%= "#{CONFIG['DASHBOARD_TITLE']}" %></div></center>

  <ul>

     <% services = ['LIBRA','DEPOSITREG'] %>
     <% services.each do |key| %>

        <% if production_mode? == true %>

        <% else %>

           <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
              <div data-id="<%= "#{CONFIG[key]['time']}" %>" data-view="Meter" data-title="<%= "#{CONFIG[key]['title']}" %>" data-min="0" data-max="2000" data-moreinfo="Response time in mS"></div>
           </li>

        <% end %>

     <% end %>

     <% services = ['LIBRA','DEPOSITREG','DEPOSIT_AUTH_SERVICE','ENTITY_ID_SERVICE','DEPOSIT_REG_SERVICE','USER_INFO_SERVICE','TOKEN_AUTH_SERVICE','SOLR','FEDORA','REDIS'] %>
     <% services.each do |key| %>

        <% if production_mode? == true %>

        <% else %>

           <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
              <div data-id="<%= "#{CONFIG[key]['id']}" %>" data-view="Statusbox" data-title="<%= "#{CONFIG[key]['title']}" %>" data-text="Up"></div>
           </li>

        <% end %>

     <% end %>

   </ul>
</div>